html{  
    scroll-behavior: smooth;
}
body {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

h1{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Raleway', sans-serif;
}

h3{
    text-decoration: underline;
}

nav{
    background-color: transparent;
}
a.brand-logo:hover { 
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color .3s;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.game-box {
    text-align:center;   
}

.game-info {
    text-align:center; 
    font-family:arial;
    line-height:24px;
}

.carousel{
    height: 800px;
}

h3{
    color: black;
}

.card{
    height: 800px;
    background-color:transparent;
    background-color: rgba(32, 12, 12, 0.2)
}

.card .card-reveal{
    background-image: url(../img/team/nyan-cat-rainbow.gif);

}

.card .card-reveal.jesus{
    background-image: url(../img/team/inconnus-jesus.gif);
}

/* Progress bar START */
.progress{
    width: 100px;
    margin-top: 25px;
    background-color:black;
}
.progress .derteminate{
    background-color: red;
}
/* Progress bar END */




