html{  
    scroll-behavior: smooth;
    background-color: black !important;
}

a.brand-logo:hover { 
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color .3s;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
h1 {  
    color: rgb(255, 153, 0);
}

h2 {  
    color: rgb(255, 153, 0);
}
p { 
    padding-top: 15px;
    padding-left: 50px;
}

nav {  
    background-color: transparent ;
    
}

footer.page-footer {
    padding-top: 20px;
    background-color: black;
}